<mat-nav-list>
  <h3 mat-subheader>项目</h3>
  <mat-list-item [routerLink]="['/projects']" (click)="onNavClick()">
    <mat-icon matListIcon svgIcon="projects"></mat-icon>
    <span mat-line>项目首页</span>
    <span mat-line mat-subheader>查看你的所有项目</span>
  </mat-list-item>
  <h3 mat-subheader>日历</h3>
  <mat-list-item [routerLink]="['/tasklists']" (click)="onNavClick()">
    <mat-icon matListIcon svgIcon="month"></mat-icon>
    <span mat-line>月视图</span>
    <span mat-line mat-subheader>按月查看你的任务</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon svgIcon="week"></mat-icon>
    <span mat-line>周视图</span>
    <span mat-line mat-subheader>按周查看你的任务</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon [svgIcon]="today"></mat-icon>
    <span mat-line>日视图</span>
    <span mat-line mat-subheader>按天查看你的任务</span>
  </mat-list-item>

</mat-nav-list>
